{% extends "base/header.html" %}
{% block title %}G_S_Home{% endblock %}
{% block body %}

        <div class="text-center">
            <h1 style="font-size: 80px; margin: 150px">Welcome To G.S. Health Care</h1>
        </div>

        <div class="container-fluid col-3">
            <button type="button" class="btn btn-primary btn-lg mt-auto" data-bs-toggle="modal" data-bs-target="#adminmodal">ADMIN</button>

                <!--admin loh-in modal-->
            <div class="modal" id="adminmodal">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Admin Log-In</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true"></span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form class="px-4 py-3" id="admin_login_form">
                        <div class="mb-2">
                          <label for="admin_email" class="form-label">Email</label>
                          <input type="email" class="form-control" id="admin_email" placeholder="example@example.com">
                        </div>
                        <div class="mb-2">
                          <label for="admin_password" class="form-label">Password</label>
                          <input type="password" class="form-control" id="admin_password" placeholder="First Name">
                        </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" value="submit" id="admin_login">Log In</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>


            <button type="button" class="btn btn-primary btn-lg mt-auto" data-bs-toggle="modal" data-bs-target="#employeemodal">EMPLOYEE</button>

                <!--employee loh-in modal-->
            <div class="modal" id="employeemodal">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Employee Log-In</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true"></span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form class="px-4 py-3" id="emp_login_form">
                        <div class="mb-2">
                          <label for="emp_email" class="form-label">Email</label>
                          <input type="email" class="form-control" id="emp_email" placeholder=example@example.com>
                        </div>
                        <div class="mb-2">
                          <label for="emp_password" class="form-label">Password</label>
                          <input type="email" class="form-control" id="emp_password" placeholder="password">
                        </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" value="submit" id="employee_login">Log In</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
        </div>

{% endblock %}